@import "/src/styles/cores.scss";
@import "/src/styles/fonts.scss";

.component {
  text-align: center;
  background-color: $main-color;
  color: white;
  padding: 12vw;
  margin-bottom: 15vw;

  h2 {
    font-size: 2.5rem;
  }

  button {
    background-color: white;
    color: $main-color;
    margin-top: 12vw;
  }
}
