@import "/src/styles/cores.scss";
@import "/src/styles/fonts.scss";

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;

    .heroImage {
      position: absolute;
      width: 95vw;
      height: 55vw;
      box-shadow: rgba(17, 12, 46, 0.1) 0px 4px 8px 2px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    z-index: 2;

    .text {
      margin-left: 2vw;
      padding-bottom: 35vw;
      margin-top: -15vw;

      h1 {
        font-size: 2.5rem;
      }
      span {
        display: block;
      }
      br {
        display: block;
      }
    }

    p {
      margin-left: 2vw;
    }

    .btns {
      display: flex;
      justify-content: space-around;
      margin-top: 5vw;
      margin-bottom: 10vw;
      button {
        width: 45vw;
      }
      button:last-child {
        background-color: white;
        color: $main-color;
        border: 4px solid $main-color;
      }
    }
  }
}

@media (min-width: 800px) {
  .component {
    margin-bottom: 5vw;
    flex-direction: row-reverse;
    justify-content: center;

    .container {
      width: 40vw;
      position: relative;
      right: 20vw;
      bottom: 6vw;
      .text {
        margin: 0;
        padding: 0;

        h1 {
          font-size: 2.8rem;
        }
        br {
          display: none;
        }
      }

      .btns {
        justify-content: unset;
        margin-top: 0vw;
        button {
          width: 14vw;
          padding: 1vw;
        }
        button:last-child {
          margin-left: 3vw;
        }
      }

      p {
        margin-left: 0;
        margin: 2vw 0;
      }
    }

    .wrapper {
      position: relative;
      z-index: 1;
      right: 6vw;
      bottom: 8vw;

      .heroImage {
        position: absolute;
        width: 50vw;
        height: 30vw;
      }
    }
  }
}
