.raleway500 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.raleway700 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.raleway800 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.raleway900 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
