@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Raleway:wght@500;700;800;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
h1,
h2 {
  font-family: "Playfair Display", serif;
}
h2 {
  font-size: 2rem;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  background-color: #4ba87d;
  color: white;
  padding: 3vw;
  width: 35vw;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}
input {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
li {
  line-height: 26px;
}
body {
  max-width: 100vw;
  background-image: url("/images/mobile/BG stuff SVG.svg");
  background-repeat: no-repeat;
  background-position: 10% 20%;
  background-size: contain;
}
@media (min-width: 600px) {
  p {
    line-height: 20px;
  }
  body {
    background-image: url("/images/BG stuff.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 9%;
  }
}

@media (max-height: 600px) {
  html {
    font-size: 80%;
  }
}

@media (min-height: 800px) {
  html {
    font-size: 125%;

    li,
    p {
      line-height: 125%;
    }
  }
}
@media (min-height: 900px) {
  html {
    font-size: 145%;
    li,
    p {
      line-height: 155%;
    }
  }
}

@media (min-height: 1080px) {
  html {
    font-size: 185%;
    li,
    p {
      line-height: 165%;
    }
  }
}
