.container {
  .photoBoxContainer {
    div:nth-child(1) {
      margin-left: 3vw;
    }
  }
}

@media (min-width: 600px) {
  .container {
    .photoBoxContainer {
      display: flex;
      padding: 0 6vw;
      margin-top: 20vw;

      div:nth-child(1) {
        margin-left: unset;
        margin-top: -8vw;
      }
    }

    .memberContainer {
      display: flex;
      justify-content: center;
    }
  }
}
