@import "/src/styles/cores.scss";
@import "/src/styles/fonts.scss";

.component {
  display: flex;
  justify-content: space-between;
  padding: 3vw;
  .logoImage {
    height: 16vw;
  }
  .container {
    a {
      display: none;
    }

    button {
      padding: 2vw;
      margin-top: 1.5vw;
    }
  }
}

@media (min-width: 600px) {
  .component {
    .container {
      a {
        display: inline;
      }
    }
  }
}
