@import "/src/styles/cores.scss";
@import "/src/styles/fonts.scss";

.component {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15vw;
  padding: 3vw;

  .logoImage {
    height: 16vw;
  }
  .container {
    a {
      display: none;
    }

    button {
      padding: 2vw;
      margin-top: 1.5vw;
    }
  }
}

@media (min-width: 600px) {
  .component {
    padding: 1vw 4vw;
    display: flex;
    align-items: flex-start;

    .logoImage {
      height: 7vw;
      margin-top: 1vw;
      cursor: pointer;
    }
    .container {
      a {
        display: inline;
        font-family: "Raleway", sans-serif;
        font-weight: 900;
        padding-bottom: 0.5vw;
        margin-right: 2vw;
        font-size: 0.9rem;

        &:hover {
          border-bottom: 4px solid $main-color;
          transition: 0.3s;
        }
      }
      button {
        width: 15vw;
        padding: 1vw;
        cursor: pointer;
      }
    }
  }
}
