@import "/src/styles/cores.scss";
@import "/src/styles/fonts.scss";

.component {
  padding: 4vw;
  .logoImage {
    width: 40vw;
    margin-left: -2vw;
  }
  ul {
    display: flex;
    flex-flow: wrap column;
    max-height: 38vh;
  }
  p {
    line-height: 30px;
    font-size: 0.8rem;
  }

  hr {
    margin: 6vw 0;
  }
}
